[include]
    path = ~/.config/delta/themes.gitconfig
[user]
	name = "pkonkol"
	email = "31186361+pkonkol@users.noreply.github.com"
[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work
[alias]
	lg = log --all --graph --decorate --oneline
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	hist = log --pretty=format:\"%h %ad|%s%d [%an]\" --graph --date=short
	ls = ls-files
	g = grep --break --heading --line-number
	a = add
	ap = add -p
	ci = commit
	cia = commit --amend
	co = checkout
	s = status
	b = branch
	p = pull --rebase
	pu = push
[color]
	ui=auto
[gpg]
	program = gpg
[commit]
	gpgsign = false
[core]
	editor = vim
	pager = delta
	autocrlf = false
	eol = crlf
	#safecrlf = false
[grep]
	lineNumber = true
[credential]
	helper = store
[branch]
	sort = -committerdate
[merge]
	conflictstyle = zdiff3
[push]
	autoSetupRemote = true
[help]
	autocorrect = 10
[diff]
	algorithm = histogram
	colorMoved = default
[transfer]
	fsckObjects = true
[fetch]
	fsckObjects = true
[receive]
	fsckObjects = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
    features = gruvmax-fang
    #hyperlinks = true
    #hyperlinks-file-link-format = "vscode://file/{path}:{line}"

